h1{
    text-align: center;
    background-color: black;
    color: aliceblue;
}
#menu{
    color: rgb(25, 4, 44);
    text-align: center;
    letter-spacing: 2px;
    background-color: rgb(114, 171, 221);
    
}
img{
    width: 200px;
    height: 300px;
}
.al{
    text-align: left        ;
    margin-bottom: 10px;
    padding: 40px;
    width: 50%;
}
.c1{
    font-family: 'Times New Roman', Times, serif;
    ;
}
h2{
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: overline;
}
.c1{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 20px;
    line-height: 2.0;
}
.h5{
    font-size: 25px;
    color: brown;
    text-align: left;
    padding: 20px;
}
a{
    padding: 50px;
    font-size: 20px;
}



    
